name: Run DataWeave scripts

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'graalvm'
          java-version: '21'
      - name: Install DataWeave CLI
        run: |
          curl -L https://github.com/mulesoft-labs/data-weave-cli/releases/download/v1.0.34/dw-1.0.34-Linux -o dw.zip
          unzip dw.zip -d $HOME/.dw/
          echo "$HOME/.dw/bin" >> "$GITHUB_PATH"
      - name: Test DataWeave CLI
        run: dw help
      - name: Run DataWeave scripts
        run: |
          dw run -f day01/transform.dwl -i payload=day01/inputs/payload.txt 2>&1 | tee output
      - name: Upload ouput
        uses: actions/upload-artifact@v4
        with:
          name: output
          path: output